<!DOCTYPE html>
<html lang="en">

<%- include("./partials/header.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
    <div class="blogs content">
        <h2>
            About me
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque volutpat bibendum lectus vitae fringilla.
            Pellentesque aliquam ac ante nec porta. Sed eget rhoncus nibh,
        </p>
        <p> A pretium odio. In at enim vel nibh placerat luctus.
            Morbi ut eros cursus, mattis dui sit amet, mattis lorem.
            Morbi eu pellentesque purus, ut vehicula leo. Sed vitae lacinia nunc.
            Pellentesque ac dignissim.
        </p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>

</html>